extends ../header.pug

block append scripts
  style(type='text/css').
    .content{
        
    }
    .timer{
        width: 200px;
        height: 40px;
    }
    .question {
        width: 200px;
        height: 200px;
        border: 1px solid #555;
    }
    .answer_box{
        margin-top:10px;
    }
    .answer_choice{
        width: 50px;
        height: 50px;
        background: #ccc;
        float:left;
        margin-right: 5px;
    }


  body
    div(class='content')
            div(class='time_box')
                span="TIME  "
                h1(class='timer' style={display:'inline'})
                span="Games: "
                h1(class='games' style={display:'inline'})=0
            div(class='question')
            div(class='answer_box')
            p(class='process')
            
  
  script.

    var socket = io.connect();

    // คำถาม : // ตัวเลือก
    var question = "#{choice}".split(',');
    var qchoice = "#{choice}".split(',');
    var _question = [];// สำรองคำถาม    
    var d = new Date();
    var n = d.getTime();  
    // จำนวนคำถาม 
    // "#{choice}".split(',').length
    var iquestion = 5,maxtimes = 1;
    var seconds=0,scores=0,answer={'true':0,'false':0,'time':0,'score':0};
    var timer = setInterval(function(){   
        seconds++;           
        $('.timer').text(seconds);             
    },1000); 
    

  
  script(src= "../../my_helper.js")
  script(src= "../scripts/__games_1.js")
